<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoveToDesiredDest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <!--<section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
  </configSections>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=192.168.10.247,49170;Initial Catalog=IMS_ASTHA;User ID=sa;Password=Army_2022@" providerName="System.Data.SqlClient" />
    <!--<add name="Connection" connectionString="Data Source=AMADERASTHA;Initial Catalog=IMS_ASTHA;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="DATA SOURCE=192.168.10.240:1521/orcl;PASSWORD=masud;USER ID=masud" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="ConnectionString_new" connectionString="DATA SOURCE=192.168.10.240:1521/orcl;PASSWORD=unisamho;USER ID=UNISUSER" providerName="Oracle.ManagedDataAccess.Client" />-->

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="IntervalInSeconds" value="10"/>
    <add key="sourcepath" value="F:\shrabon"/>
    <!--<add key="sourcepath" value="\\192.168.1.91\exe\Khairul\Attendence"/>-->
    <add key="destinationPath" value="E:\Test"/>
    <add key="ExcelPath" value="E:\Test\"/>
    <add key="LogPath" value="E:\serviceLog"/>
    <add key="MovePath" value="E:\Test\bak\"/>
    <add key="SourceFilePath" value="E:\Test"/>
    <!--<add key="constr" value="Data Source=.;Initial Catalog=IMS_ASTHA;User ID=sa;Password=12345"/>-->
    <add key="Connection" value="Data Source=192.168.10.247,49170;Initial Catalog=IMS_ASTHA;User ID=sa;Password=Army_2022@"/>

  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
          type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <!--<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource"
            descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
      --><!--<dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
          </dataSources>--><!--

    </version>
  </oracle.manageddataaccess.client>-->
</configuration>
